[2018-11-02 16:15] JoMas971 opened #1 "[ICONS] Add all iland icons to fontastic account"
We need to have the whole list of iland cloud icons in SVG format with all declinaison (solid or/and not, with/without badges. If multiple badges possible, we need each version of the icon with different bages), uploaded to our [Fontastic](http://app.fontastic.me/#select/gQ29bDwukM24TuzwoMMxEK) account in separated sets :
- iland cloud core (for core icons)
- iland cloud chart (for chart icons)
-

[2018-11-09 09:53] mathieupkf commented on #1
@JoMas971 - Updated on Fontastic

[2019-01-21 08:59] JoMas971 opened #2 "[NG] Implement Datagrid (Table) component."
We need to implement a Datagrid element with all those features :

- Sorting specific column with the possibility to use a custom sorting function if needed.
- Custom column sizing and the possibility to dynamically change column width using a dragger pipe. We also need to know what algorithm we want (From a UX point of view) to determine each columns sizes... @mathieupkf was thinking of making th

[2019-01-21 09:00] JoMas971 commented on #1
All icons have been implemented now. So i close this issue.

[2019-01-21 09:00] #1 closed

[2019-01-22 09:40] JoMas971 opened #4 "[NG] Implement a Wizard system"
We need to have a wizard system display like it is in this design : https://projects.invisionapp.com/d/main#/console/6412142/248098598/preview

__Technical directions :__

- We need to create a wizard modal, usable through a service.
- The wizard is not limited by the number of sub-modals or sub-wizards. But it's recommended to have only 2-3 layers of wizard max.
- The wizard should have a menu on

[2019-01-22 10:14] JoMas971 opened #5 "[NG] Implement a dropdown menu"
For design : https://projects.invisionapp.com/d/main#/console/6412142/217015564/preview

- All options need to come from the user. It can be a `<button>` or `<a href="">`. We can also have a grouping of links with (or without) a title.
- The button itself can be a text an icon or an icon/text combo.
- It need to depend on the parent container but in some cases, we need to be able to change the par

[2019-01-22 10:19] JoMas971 commented on #4
This issue depends on #3

[2019-01-22 10:35] JoMas971 opened #7 "[NG] Implement a range component"
Like the slider component, we need to be able to set a range. See [react input range component](https://www.npmjs.com/package/react-input-range#api) for API and features.

You can see it in action there : https://codepen.io/davidchin/full/GpNvqw/

We will need a design for it.

[2019-01-22 10:37] JoMas971 commented on #7
@mathieupkf We will need a design for this component. You can get inspiration from [Material Slider](https://material.angular.io/components/slider/examples) and [React range](https://codepen.io/davidchin/full/GpNvqw/) components.

Note: Our slider and range components are pretty similar and their design should be similar too.

[2019-01-22 10:46] JoMas971 opened #8 "[NG] Implement a widget component"
We need to add a widget component `<fui-widget>` which should depend on [Bootstrap card system](https://getbootstrap.com/docs/4.2/components/card/) for the design, but, we need to make it looks like [our design](https://projects.invisionapp.com/d/main#/console/6412142/225255583/preview)

- All titles shouldn't be a component attribute binding but they should be a sub-component (like `<fui-widget-t

[2019-01-22 10:48] JoMas971 opened #9 "[UI] Add a layout system for easy layout."
We can get inspiration from [Clarity](https://clarity.design/documentation/app-layout).

The exact specs need to be discussed.

[2019-01-25 14:44] JoMas971 opened #10 "[UI] Look and Feel for input datetime component"
It would be great to have a complete design use case to cover this component.

This is the current screen for this component : https://projects.invisionapp.com/d/main#/console/6412142/226730682/preview

We would need to have more explicit design, like cases with or without error messages (including respective icons) and the check icon in case of valid input value.

It's also important to know that

[2019-01-25 15:45] mathieupkf opened #11 "[UI] Wrong position for the strokes icon (see screenshot)"
<img width="147" alt="capture d ecran 2019-01-25 a 16 43 48" src="https://user-images.githubusercontent.com/9723290/51756148-a83eac00-20c0-11e9-9cef-5881bd6bc046.png">

[2019-01-25 15:48] mathieupkf opened #12 "[UI] Icons proportions looks wrong."
<img width="103" alt="capture d ecran 2019-01-25 a 16 47 32" src="https://user-images.githubusercontent.com/9723290/51756309-fc499080-20c0-11e9-8df9-55dd21d35905.png">

[2019-01-25 15:48] mathieupkf commented on #12
@JoMas971 Can you check the size of the icons?
Also can we remove the Cross icon ?

[2019-01-25 16:36] mathieupkf commented on #7
@JoMas971 Please find them here (bottom):
https://projects.invisionapp.com/d/main#/console/6412142/217015603/preview

[2019-01-28 17:15] JoMas971 commented on #12
Well, about the size, they are different indeed but i don't know which size i should use for each of those icons...
And about the Cross icon, no, we can't remove it but we can improve its design.
This icon allow a user to actually clear the select (it can be useful in some cases). It's part of  third-party library `ng-select` and developers can decide to hide or show this icon, but we need to hand

[2019-01-30 16:12] mathieupkf commented on #12
You'll find right sizes in a dedicated field here:
https://projects.invisionapp.com/d/main#/console/6412142/217015603/preview
And you'll be able to download a new icon for the clear option here:
https://projects.invisionapp.com/d/main#/console/12026582/330483189/preview

[2019-02-07 14:25] mathieupkf commented on #10
@JoMas971 - I grouped all elements inside a new screen called "components". It's on Secure Cloud V9 project on InVision (not anymore on V8). You'll find all components you need for date pickers. Let me know if you need anything else.
https://projects.invisionapp.com/d/main#/console/12026582/345528567/preview

[2019-02-07 15:14] JoMas971 commented on #10
@mathieupkf thanks ! That looks great, but can i have the min/max width for the calendar please ?
Also, i don't understand what is the purpose of double arrows in calendar header, can you tel me what it is ?
Also, you didn't handle the case where the field has an error state. I don't know where to put the error icon (neither the others : help, valid) in your design :-/

[2019-02-07 15:42] mathieupkf commented on #10
@JoMas971
- I designed a new field for displaying error icons. I think we should display only one icon when we have an error. I mean that we should remove Arrow/Calendar/... icons to display the error one.
- Doubles arrows allow user to move year by year (it will replace our complex year switcher)
- For the calendar, the width is not related to field widths anymore. I think it will be easier for y

[2019-02-07 22:45] JoMas971 commented on #10
@mathieupkf

- i'm not sure about the double arrows to change the year. It doesn't looks natural...
Also, we will use [Clarity system](https://clarity.design/documentation/datepicker) for calendar, so the month and year are clickable and you can choose the value you want from the different views. You also have a "today" icon to set the date to current day. You can play with their calendar to see w

[2019-02-08 09:09] mathieupkf commented on #10
@JoMas971 Design updated
https://projects.invisionapp.com/d/main#/console/12026582/345528567/preview

[2019-02-08 13:05] cfsnyder commented on #10
My two cents:

-  I like the double-arrow for switching between years because it seems more common and is therefore more intuitive. I'm not sure I would have discovered the year/month switcher that the clarity component uses, at least not right away.
- I think that the clarity component is actually a better design in terms of UX if we don't consider what users are familiar with. It's clearly easie

[2019-02-08 13:27] mathieupkf commented on #10
Design updated
https://projects.invisionapp.com/d/main#/console/12026582/345528567/preview

[2019-03-14 11:09] cfsnyder commented on #8
@JoMas971 - I think you have a pretty good list here. Really we just need to cover all of the existing cases that we already use in our console. A couple of additional things that come to mind that you should think about:
- an easy way to include a widget footer
- an easy way to include a grid, as we do on the top-level widget of most existing pages
- responsiveness considerations. e.g. the title

[2019-03-15 16:23] JoMas971 opened #13 "[NG] Create a number input"
We need to update the current FuiInput and FuiInputContainer to handle the type number in order to match Mathieu's design.
https://projects.invisionapp.com/d/main#/console/12026582/345528567/inspect

[2019-03-15 16:26] JoMas971 opened #14 "[NG] Create a number select input"
We need to have an input number that we can add a select box in order to choose default values.

See screenshots.

![Screen Shot 2019-03-15 at 17 18 37](https://user-images.githubusercontent.com/3911470/54446529-71dbef80-4747-11e9-83d7-c68b6b1508b3.png)

[2019-03-15 16:51] JoMas971 commented on #8
That sounds good to me @cfsnyder. Your first and last point are ok, but what do you mean by 'Grid' ?
Are you referring to this kind of grid ?

![Screen Shot 2019-03-15 at 17 30 50](https://user-images.githubusercontent.com/3911470/54446831-30980f80-4748-11e9-9c1f-5f802e69e91b.png)

If that's so, i rather like to not add this to the widget component itself but more has a global grid system (that we

[2019-03-15 18:21] mathieupkf opened #15 "[UI] Remove calendar icon on date fields"
I think this icon don't works very well. Especially when we have also check and arrow icons.

[2019-03-15 18:25] mathieupkf opened #16 "[UI] Issues for selected state on stroke lines (see screeshots)"
<img width="349" alt="Capture d’écran 2019-03-15 à 12 23 12" src="https://user-images.githubusercontent.com/9723290/54453691-74295400-471d-11e9-9268-2d931ff52dcb.png">
![Uploading Capture d’écran 2019-03-15 à 12.23.17.png…]()
![Uploading Capture d’écran 2019-03-15 à 12.23.21.png…]()

[2019-03-15 18:28] mathieupkf opened #17 "[UI] Calendar widget - Today icon is too small"

[2019-03-15 18:30] mathieupkf opened #18 "[UI] Password fields - Font size is too small"
@JoMas971  - Not 100% sure for this one, can you check the font size you use to display the •••••• labels ? It looks very small.

[2019-03-15 18:31] mathieupkf opened #19 "[UI] Textareas field - Wrong position for the icon (see screenshot)"
<img width="162" alt="Capture d’écran 2019-03-15 à 12 31 16" src="https://user-images.githubusercontent.com/9723290/54454062-3ed13600-471e-11e9-918d-e84c0ff2d122.png">

[2019-03-15 18:33] mathieupkf opened #20 "[UI] Textareas field - Remove the transparent space juste above the bottom of the field"
<img width="451" alt="Capture d’écran 2019-03-15 à 12 32 05" src="https://user-images.githubusercontent.com/9723290/54454166-79d36980-471e-11e9-9522-bc6082d59e83.png">

[2019-03-15 18:35] mathieupkf opened #21 "[UI] Radio button - Selected icon not centered and not rounded"
<img width="325" alt="Capture d’écran 2019-03-15 à 12 34 16" src="https://user-images.githubusercontent.com/9723290/54454301-c6b74000-471e-11e9-99f4-4ae3f76a8d03.png">

[2019-03-15 18:38] mathieupkf opened #22 "[UI] Selects - Graphic bug on selected/hover style on the Basic exemple field"
<img width="1213" alt="Capture d’écran 2019-03-15 à 12 36 11" src="https://user-images.githubusercontent.com/9723290/54454506-39282000-471f-11e9-8fdd-8ee0c343a353.png">

[2019-03-15 18:41] mathieupkf opened #23 "[UI] Selects - Wrong paddings on dropdown menus"
<img width="391" alt="Capture d’écran 2019-03-15 à 12 40 53" src="https://user-images.githubusercontent.com/9723290/54454669-9c19b700-471f-11e9-8f3a-52f272c80dd1.png">

[2019-03-15 18:43] mathieupkf commented on #12
@JoMas971 - When you'll implement the right Clear icon, don't forget to change the color hover style (change the red color for our dark blue).

[2019-03-18 13:04] JoMas971 commented on #17
Part of #12 issue.

[2019-03-18 13:57] JoMas971 commented on #19
Fix by PR #22

[2019-03-18 16:05] JoMas971 commented on #18
@mathieupkf The input size is 14px with Roboto font and a font-weight of 700.

[2019-03-18 17:22] mathieupkf commented on #18
@JoMas971 Ok so the font size is good.
Maybe it's due to the type character you're using? Is it a "•" or a "." ?

[2019-03-18 17:24] mathieupkf commented on #19
@JoMas971 - the position is not totally perfect,  please check the design. The color don't looks good as well.

[2019-03-18 17:26] #20 closed

[2019-03-18 17:26] #22 closed

[2019-03-18 19:11] JoMas971 commented on #18
@mathieupkf it's the default caracter for password inputs. So we can't change them. Just change the font-size and font-weight. So i could maybe raise those values a little bit.

This is how it looks with `font-size: 15px` and `font-weight: 900`.

![Screen Shot 2019-03-18 at 20 09 56](https://user-images.githubusercontent.com/3911470/54556838-0f3e5a00-49ba-11e9-8439-8b75622eb012.png)

[2019-03-18 19:31] JoMas971 commented on #19
@mathieupkf well, this icon, as well as the behaviour attach to it, is automatically generated by the browser/OS combo itself. It will not looks the same whether you are on Windows, Linux or Mac OS and it also depends on the browser itself. FYI There is different looks i can have on Mac OS (Firefox and Safari)

![Screen Shot 2019-03-18 at 20 15 27](https://user-images.githubusercontent.com/3911470

[2019-03-18 19:44] mathieupkf commented on #18
@JoMas971 - ok gotcha! Like that it's much better. We can use it.

[2019-03-18 19:47] mathieupkf commented on #19
@JoMas971 - Thanks for the explanation. Let's not create a custom one then ;)
Can you edit the position ? To be closer to the design, you should give it more space. I'll say move it 2px to the left and 2px to the top.

[2019-03-19 07:55] JoMas971 commented on #19
@mathieupkf yep, that i can do :-)

[2019-03-19 07:56] JoMas971 commented on #18
@mathieupkf Alright then, will set it like that ;-)

[2019-03-19 08:23] JoMas971 commented on #19
@mathieupkf you can check it again :-)

[2019-03-19 13:55] #19 closed

[2019-03-19 13:57] mathieupkf commented on #18
@JoMas971 - Perfect!

[2019-03-19 13:57] #18 closed

[2019-03-19 15:12] JoMas971 opened #28 "[BUILD] Make automatic builds depending on branches using CircleCI."
See the documentation abour building artifacts : https://circleci.com/docs/2.0/artifacts/
And builds https://circleci.com/docs/2.0/deployment-integrations/#ssh
With CircleCI.

[2019-03-20 09:45] #28 closed

[2019-03-20 10:23] #11 closed

[2019-03-20 14:17] JoMas971 commented on #15
@mathieupkf So you want me to delete this icon entirely ? That mean it will looks exactly the same than a regular input type text right ?

[2019-03-20 14:20] mathieupkf commented on #15
@JoMas971 - Right. Is it possible to try on a field without the icon and i'll tell you if we keep it or not?

[2019-03-20 14:28] JoMas971 commented on #21
@mathieupkf Are you still see this issue on the latest build :
https://63-155837827-gh.circle-artifacts.com/0/ferui/index.html

Because i don't see it even if i zoom by 300%.

[2019-03-20 14:29] mathieupkf commented on #21
@JoMas971 Yep it's good now

[2019-03-20 14:29] #21 closed

[2019-03-20 14:40] JoMas971 commented on #15
You can test it there : https://64-155837827-gh.circle-artifacts.com/0/ferui/index.html

[2019-03-20 14:51] mathieupkf commented on #15
@JoMas971 I think it's great like this. Label that says "date" or something like that it's totally enough, we don't really need an icon.

[2019-03-20 15:06] JoMas971 commented on #15
@mathieupkf ok. will merge it to master then.

[2019-03-20 15:23] #15 closed

[2019-03-21 11:11] JoMas971 opened #31 "[BUILD] Add Functional tests to the project"
We need to add functional tests to the project in order to test all visuals for each components.
We should use browserstack to achieve this.

**IMPORTANT : This ticket is about setting the functional tests to the project, we don't actually want to add those tests through this ticket**, we will have multiple tickets for adding functional tests components by components.

More info will come later.

[2019-03-21 11:12] JoMas971 commented on #14
Depend on #13

[2019-03-21 11:22] JoMas971 commented on #10
@mathieupkf Can you check that the date, time and datetime controls design are ok pls ?

[2019-03-21 16:39] #10 closed

[2019-03-22 16:04] fradinni opened #32 "[NG] Create a default content wrapper and container for demo pagge"
- Create a default content wrapper and container in /dev/src/app/utils.
- Extend those defaults content / wrapper to forms component.

[2019-03-25 09:51] JoMas971 commented on #12
@mathieupkf you can check the design there : https://68-155837827-gh.circle-artifacts.com/0/ferui/index.html
Let me know if it's all good for you.
Note the i've also included #17.

[2019-03-25 12:07] JoMas971 commented on #16
@mathieupkf - You can check the design there : https://71-155837827-gh.circle-artifacts.com/0/ferui/index.html

[2019-03-25 13:21] JoMas971 commented on #2
I found another alternative for our datagrid system which has 0 3rd Party dependencies which does exactly what we want and more. It's called ag-grid (https://www.ag-grid.com/javascript-grid-features/). The `community` version is free and under MIT licence. So we can use it :-D

[2019-03-25 15:16] mathieupkf commented on #12
@JoMas971 it looks like arrow & check icons are still too big (see screenshot)

[2019-03-25 15:17] mathieupkf commented on #12
<img width="908" alt="Capture d’écran 2019-03-25 à 09 16 22" src="https://user-images.githubusercontent.com/9723290/54931514-c49f6f00-4ede-11e9-89b4-b7f9209826d5.png">

[2019-03-25 15:18] mathieupkf commented on #17
@JoMas971 good for me. you can close it.

[2019-03-25 15:21] mathieupkf commented on #16
@JoMas971 When you select an item on the dropdown menu and you close it, there is a bug on the selected field (right side of the field)

[2019-03-25 15:21] mathieupkf commented on #16
<img width="284" alt="Capture d’écran 2019-03-25 à 09 19 38" src="https://user-images.githubusercontent.com/9723290/54931834-6cb53800-4edf-11e9-89e4-6e64465591f8.png">

[2019-03-25 18:53] cfsnyder commented on #8
@JoMas971  - I'm only suggesting that this use case is considered during development, not that it be explicitly supported as a feature of this component. For example, we would need an easy way to include a widget section that doesn't have any padding.

[2019-03-26 08:19] JoMas971 commented on #8
@cfsnyder actually, i think the default and only case with this widget component is to have 0 padding within the content section. It will be up to the injected content to have paddings through classes (`class="p-n"` which is bootstrap special class to set paddings or `class=custom` which is a special custom class you can create).
To me, the widget component should only act has a wrapper, and the o

[2019-03-26 09:31] JoMas971 opened #33 "[UI] We should have a visual response for disable state on checkboxes and radios"
## Describe the bug

_When you set the disabled state to true, we should have a visual response telling the user that he can't change their values_

[2019-03-26 18:16] JoMas971 commented on #2
Finally, after somme research it seems that ag-grid is not as "open" as i expected... So i think i'll end up coding from scratch this component. :-(

[2019-03-27 10:31] fradinni opened #35 "[UI] Remove margins in .fui-form-control class"

[2019-03-28 08:28] JoMas971 commented on #35
I'll take care of this in my next PR finally. I'm fixing a lot of design issues right now.

[2019-03-28 10:16] fradinni commented on #35
Ok !

[2019-03-28 15:33] JoMas971 commented on #12
@mathieupkf i've updated the design. You can check it there : https://72-155837827-gh.circle-artifacts.com/0/ferui/index.html

[2019-03-28 16:17] mathieupkf commented on #12
@JoMas971 Good for me

[2019-03-28 22:06] #32 closed

[2019-03-28 22:25] #12 closed

[2019-03-29 08:19] #17 closed

[2019-03-29 13:30] JoMas971 commented on #16
@mathieupkf you can check it there : https://79-155837827-gh.circle-artifacts.com/0/ferui/index.html

[2019-03-29 13:33] JoMas971 commented on #35
Closing this issue since it has been fixed in #12

[2019-03-29 13:33] #35 closed

[2019-03-29 15:32] mathieupkf commented on #16
@JoMas971 perfect

[2019-03-29 15:35] #16 closed

[2019-03-29 18:06] JoMas971 commented on #33
@mathieupkf Can you check that everything is ok there please : https://81-155837827-gh.circle-artifacts.com/0/ferui/index.html

[2019-04-01 14:54] mathieupkf commented on #33
@JoMas971 good for me

[2019-04-02 15:49] #33 closed

[2019-04-02 16:17] cfsnyder commented on #2
My requirements:

- It should have all of the features of our existing console table
- It should allow custom filter/search dialogs for better UX with specific data types
- It should have an easy solution for server-side paging and filtering
- Performance should be a high priority

[2019-04-05 09:38] JoMas971 commented on #2
@mathieupkf I think you have enough informations about what we need for the Datagrid now :-).

**But keep in mind that the datagrid will be dynamic, that mean that we need to think about the most interactions possible. Specially about the sizes (width and height), filters, pagers...** Have test cases with few data/columns and some others with **huge** amount of data/columns.

For instance, there i

[2019-04-10 21:56] mathieupkf commented on #2
@cfsnyder @JoMas971

Guys, I worked on a table full version (with all options). I try to put forward all the principles that we want to integrate, we will work all the details afterwards.

https://projects.invisionapp.com/d/main#/console/12026582/357477130/preview

**Principles:**

- By default, columns have the same width. If all the content is displayable then the width of a column is the width

[2019-04-11 09:02] JoMas971 commented on #2
@mathieupkf : Well first of all, thank you for this, i think there is some interesting points there !
But i also have some concerns...

- About the height, i think 50px (this is what we have on your new design, not 60px like you said in your comment) for all rows is a bit too much... I would have said 30px or 40px max personally. WDYT @cfsnyder @fradinni @ariquinones ?
- About the minimum width fo

[2019-04-11 16:01] mathieupkf commented on #2
Thanks for you feedbacks @JoMas971
- You're right, the height was 40 and now 50. Let's use this size it will help a lot the readability and it's always better to let elements breath ;)
- Ok perfect for column width calculation, let me know when you want to introduce it to me.
- Wow, I think I really love this solution for the horizontal scrolling. I vote for this. Thanks for finding this solution.

[2019-04-11 16:23] JoMas971 commented on #2
@mathieupkf
- Ok for the height. I'll use 50px then.
- About filters, i think it's important to have multiple types of filters (not only a text input search). So if you don't want to add a filter menu on each columns, lets have a place where i can choose the column (or columns) on which i can use a custom filter (like a select, range, or date filtering for instance). It's not always a text input,

[2019-04-11 16:57] mathieupkf commented on #2
@JoMas971 - New design
https://projects.invisionapp.com/d/main#/console/12026582/357477130/preview

[2019-04-11 20:13] JoMas971 commented on #2
@mathieupkf - Have you read my latest comment about filters ? Because i can't see them in your new design :-/.

[2019-04-11 20:26] mathieupkf commented on #2
@JoMas971 yes I saw it, but I need more specs for it, it's not clear enough for now.

[2019-04-12 13:12] JoMas971 commented on #2
@mathieupkf Well, if you want to talk about it in detail, we can plan a call if you want. Or tell me exactly what you need concerning the filters to create the UX/UI.

[2019-04-12 16:57] mathieupkf commented on #2
Hey @JoMas971, I have new design for the filter feature. Let me know what do you think. (Same Invision link)

[2019-04-12 18:58] JoMas971 commented on #2
@mathieupkf well that looks interesting but i have few questions about how you've planed to open the white filter part. Would we have an icon where we can click on to open this or it's gonna open the element when we start typing in the search input ?
Also, should this white zone overlay the table itself or will this zone push the table below ?
Be carefull with the cases where we may have only one

[2019-04-12 19:47] mathieupkf commented on #2
@JoMas971 Thanks for your feeback, it looks like my design wasn't clear enough ;) The area with dropdowns, search fields... don't represent a table, it's where I'm designing all component variations.
At the left you'll find all filter/search bars. You have all different cases you'll be able to have on a table. BUT, only one element will be displayed on the toolbar (see toolbar on the first table).

[2019-04-13 15:26] JoMas971 commented on #2
@mathieupkf ho ok i see... That's a pretty good idea ! I Love this aproach ! Actually we would have only one line (not multiple ones) and it will be dynamic depending on wich column you want to filter...
BUT, there is one issue : How can i aggregate multiple filters ?
I mean, if i take your example, what can i do if i want to search all "powered-on" VMs that are "above or equal 300GB" ? We need to

[2019-04-15 16:01] mathieupkf commented on #2
@JoMas971 - Here is the design for the multiple filters aggregation ;) I used the "+" icon solution, this is the best for this case. Thoughts?
https://projects.invisionapp.com/d/main#/console/12026582/357477130/preview

[2019-04-16 14:46] JoMas971 commented on #2
@mathieupkf ok i see. That looks good to me ! I just hope that we won't ever have more than 3 filters set... Because it would be annoying scrolling up and down all the time to see the table and filters etc... :-( since the filters will push the table down... It can also be a layout issue in some cases when we have a fixed height at our disposal...

But, I may have an idea to fix this issue : Lets

[2019-04-24 14:47] mathieupkf commented on #2
@JoMas971 I'm not a big fan of this system. I don't want to have overlay menus. We have the space to display filter components directly on the table so we should use it to keep a fastest way to search. I really don't want to hide it. Also when you'll integrate tables we should have the possibility to display or not the filter component. For a lot of cases it don't make sense to display it (tables

[2019-04-24 15:20] JoMas971 commented on #2
@mathieupkf ok. But if we don't add an overlay, please provide a design with at least 3 and 5 filters to see how much the table can go down... And validate that it's ok.
Because i disagree with the fact that users won't use a lot of filters. If you take the [VMs table](http://current.iland.test/#/company/000003/iaas/locations/dev-vcd01.iland.dev/vms) for example, if i'm a user that have a lot of V

[2019-04-24 15:38] mathieupkf commented on #2
@JoMas971 It will be like that, awesome hein ?!
![Datagrid Copy@2x](https://user-images.githubusercontent.com/9723290/56672983-4284a080-666c-11e9-92f0-67e440045904.png)

[2019-04-24 15:46] fradinni commented on #2
@mathieupkf  @JoMas971 why not using 2 lines:
- 1st line for adding filter
- 2nd line to list already added / active filters...

So you can keep the design for adding a filter and just list added filters on line just below.
<img width="832" alt="Capture d’écran 2019-04-24 à 17 44 13" src="https://user-images.githubusercontent.com/1576511/56673644-ef850a80-66b8-11e9-9f48-d54b8ecc3fac.png">

[2019-04-24 15:49] JoMas971 commented on #2
@fradinni yeah that could work... We would have 2 or 3 lines most of the times, that's ok :-D

[2019-04-25 15:51] mathieupkf commented on #2
@fradinni @JoMas971 - Here is a new approach, whyt?
![Datagrid Copy@2x](https://user-images.githubusercontent.com/9723290/56749774-3e718500-6737-11e9-97fa-3f2b242ae8ba.png)

[2019-04-25 16:20] JoMas971 commented on #2
@mathieupkf i like the popup approach personally. But there is one part that i don't understand :
Why have you added the "Columns" filter ? It doesn't look useful since we have the list of all columns filters after...
Can we have a scroll if the filter popup is too high ?

how it will looks for the mobile version ?

Otherwise, i think it's a good compromise :-D

[2019-04-25 17:00] mathieupkf commented on #2
@JoMas971 - Here is the design with new elements!
https://projects.invisionapp.com/d/main#/console/12026582/357477130/preview

[2019-04-29 14:12] JoMas971 commented on #2
@cfsnyder @fradinni @fradinni what you think about this design guys ?

[2019-05-06 21:34] mathieupkf commented on #2
@cfsnyder - We will keep this feature but I would like to display it within the option menu.
<img width="655" alt="Capture d’écran 2019-05-06 à 14 33 37" src="https://user-images.githubusercontent.com/9723290/57256680-1a058a80-700c-11e9-8594-e67c950d1446.png">

[2019-05-07 08:48] JoMas971 commented on #2
@mathieupkf : Personally, i'm not a big fan of this feature to be hidden within the "three dot" actions menu... To me, it doesn't belong to this part... I would rather like to have it within the pager section somehow. WDYT @cfsnyder ?

[2019-05-13 07:23] JoMas971 commented on #2
@mathieupkf : I forgot to mention, but it will be possible to have multiple column sorting. But in that case, we need to have a kind of drawback to know which column has the higher priority (we first sort one column, then we sort on the next one... etc). Like you can see there : https://www.ag-grid.com/javascript-grid-sorting/#multi-column-sorting, you need to click on column header to sort and ma

[2019-06-03 07:15] JoMas971 opened #40 "[NG] Tooltip component"
We need to be able to display a tooltip on whatever elements we want.
- It should be a directive.
- The tooltip needs to be intelligent and should be display at the top, left, bottom, right depending on remaining size.
- By default, the tooltip will adapt its width and height depending on its content.
- We also need to be able to control the design of the tooltip (`background`, ` color`, `font-siz

[2019-06-21 16:29] JoMas971 commented on #2
@cfsnyder @fradinni  what do you think of this data object for the API ?

[code]

This is the raw data that comes from the Datagrid `rowDataService.getRows()` function that the developper need to use to actually make an API call.

You can see which columns are displayed (hidden columns won't appear there) and you can also have an idea on what filters you've set as well as which columns are sorted.

[2019-06-24 17:23] cfsnyder commented on #2
@JoMas971  - I think this looks pretty good. We'll know for sure when you try to integrate it with our APIs for tasks/events/and object store objects. A few comments/questions:

-The `context` parameter needs better documentation because it isn't clear what it is for, especially with type `any` in the doc. To be sure, does your implementation support the following edge cases:
- Does this support t

[2019-06-25 09:01] JoMas971 commented on #2
@cfsnyder - Thank you for your insights.
- So, about the `context` attribute, it is only for client side manipulation. In my comment above, i was calling the `this.rowDataService.getRows` through the `this` keyword. In javascript this keyword refers to the current Object/function. But, it's the datagrid who would do the call, not the current Object (component). The `rowDataService` variable doesn'

[2019-07-09 09:20] mathieupkf opened #41 "[DATAGRID] Datagrid design review"
@JoMas971

Here is my feedbacks. Most of them are just minor issues. Very nice work man!

- [x] Arrow sort icons too close to the label: use 7px margin
- [x] Number sort icons too close to the arrow: use 7px margin
- [x] Pager: all elements looks a little bit too big (arrows, selected square, margins between each numbers)
- [x] When you're scrolling faster, you see some white areas (because it's n

[2019-07-16 17:08] cfsnyder commented on #2
@JoMas971 in regards to the context issue, I don't understand why you wouldn't just expect the developer to pass an actual instance of a class that implements a `IServerSideDatasource` interface? Then there would be no issues with `this`.

Sounds good on the other points. You can save the hidden column data loading during toggle optimization for the future.

[2019-07-23 16:32] JoMas971 opened #42 "[DATAGRID] Datagrid loading animation"
Hey @mathieupkf ,

i’ll need your help for infinite scrolling datagrid loading animation : check https://objective-booth-cd63b3.netlify.com/#/components/datagrid/infinite-server-side to see the ugly way i’m doing it now lol.
I know that other datagrid elements like filters, pager shouldn’t disappear anymore after first load (when in server side row model, i want to load the next or previous page).

[2019-07-24 08:04] JoMas971 commented on #2
@cfsnyder Alright then, i'll expect the user to pass an instance of `IServerSideDatasource` though. Sounds good to me. Thanks for confirming.

[2019-07-24 15:17] JoMas971 commented on #42
Is part of #2

[2019-07-24 15:18] JoMas971 commented on #41
Is part of #2

[2019-07-29 08:12] mathieupkf commented on #42
hey @JoMas971. I don't see anything ugly here! Did you create this line loader in the meantime?

[2019-07-29 13:48] JoMas971 commented on #42
@mathieupkf indeed, i've updated the design after creating this ticket so it's not ugly anymore.
But i would like to know if it's ok for you.
If the new design is ok for you i'll close this ticket, otherwise, if you have any requests, feel free to type them there.

[2019-07-29 13:50] mathieupkf commented on #42
@JoMas971 - You can close it.

[2019-07-30 07:03] JoMas971 commented on #42
We decided to keep the design we talked about. So i'll close this issue.

[2019-07-30 07:03] #42 closed

[2019-09-03 20:51] ariquinones opened #43 "[NG] Implement a Tree-View Component"
## We need to implement a side-navigation Tree-View component

_This tree-view component will be a hierarchical component that will show a visual representation of a parent-child relationship between its tree nodes._

Requirements:

- Element needs both horizontal and vertical scrolling (we will not know how many sub-directories exist nor how many levels deep it could go)
- Width and height of thi

[2019-09-03 21:26] JoMas971 commented on #43
We won't actually do this exact component in FerUI, only the tree view component (the left section) and the breadcrumb components. The datagrid is already part of FerUI.
This all-in-one component will be done within the console side but it will use all the datagrid, breadcrumb, and the tree-view components from FerUI.
So we'll need to think of all implications a tree-view component can have like C

[2019-09-04 02:24] ariquinones commented on #43
@JoMas971 yup. Was misunderstanding the component at first. I edited my comment to take out all Datagrid references. Making a generic component to be used anywhere and communicate with any other component now.
My first comment is just a start, I'll be adding more details as I can think of all we will need from this component (screenshot of design is also updated, only tree nodes are shown)

[2019-09-04 08:50] JoMas971 commented on #43
@ariquinones much better now indeed :-D
I just have some comments about the interface you want to implement :
- The `size` attribute is not enough. We would need both `width` and `height` instead and those options would be optional. By default, if we don't specify any width or height, the component should take all the space available for it. It will be up to the dev to wrap that component with wha

[2019-09-04 22:02] JoMas971 commented on #43
This is my first thought concerning the directory interface :

[code]

[2019-09-06 14:29] cfsnyder commented on #43
**Tree View API**
[code]

Someone integrating this just needs to provide the root node `TreeNodeData` and the `TreeViewDataRetriever`. You can imagine that the synchronous implementation of the `TreeViewDataRetriever` would just always return immediately resolved promises with the requested data.

Obviously I still left a few details out that will need to be defined prior to implementation.

[2019-09-06 14:41] cfsnyder commented on #43
One thing that occurred to me that we'll need to handle in the visual design with @mathieupkf  is the presentation of errors when when of the promises returned from the `TreeViewDataRetriever` is rejected (due to a network/server error, or otherwise).

[2019-09-06 14:55] JoMas971 commented on #43
Thanks @cfsnyder for your input. That look pretty good !
I just have a question about how many nodes we should get in a call.
For instance, if i want to expand a node that have 1000 children Server Side. How should i "lazy-load" them with your solution If for instance i want to get chunks of 10 items before loading more ?

[2019-09-07 11:01] cfsnyder commented on #43
@JoMas971 you just extend the models to include new implementations that support paging features. I've updated my above comment with those extensions included.

[2019-09-10 11:45] mathieupkf commented on #43
@JoMas971 @cfsnyder @ariquinones
I've created a new screen for our Treeview Component. I've designed several cases. Please let me know if you have improvements in mind or other variations needed.
https://projects.invisionapp.com/d/main#/console/12026582/383168113/preview

[2019-09-10 12:30] JoMas971 commented on #43
thanks @mathieupkf , that looks good ! So if i follow you, it would be possible to use a custom template to handle the "arrows" or "+/-" buttons right ? And the template for each line should be customisable to please whatever the dev want to do right ? That should be pretty easy to do using Angular `TemplateRef<any>` and `<ng-container>`...
Example of those can be found within the datagrid compone

[2019-09-26 18:41] ariquinones commented on #43
@cfsnyder and @JoMas971 I’ve made some progress on the Tree View component and added some more stuff to the API. Everything from Cory’s above comment has stayed the same while adding the following to some of the interfaces:
You can see the full code in my fork branch:
https://github.com/ariquinones/ferui/tree/topic/tree/src/ferui-components/tree-view

And how to use it by a developer would be in t

[2019-09-27 10:20] mathieupkf commented on #43
@ariquinones - New design version for the View More case. You'll tell me when (and how) I'll be able to test the component! Thanks.
https://projects.invisionapp.com/d/main#/console/12026582/383168113/preview

[2019-09-27 13:42] JoMas971 commented on #43
@ariquinones thanks for the update !
I just have some opinions about some of the stuff you gave us :
- First, i don't see the point of adding the `getIcon(...)` method on `TreeNode<T>` interface. This sort of things should be handled by the template itself. If you want to provide the option to choose from an existing kind of icon, i suggest to only add one option to the configuration object to cho

[2019-09-27 13:43] cfsnyder commented on #43
@ariquinones I'm not understanding why we need a "view more" button. Shouldn't the virtual scroll be responsible for loading more lazily, in the background.

[2019-09-27 13:45] cfsnyder commented on #43
@ariquinones the `limit` parameter on the TreeNodeData interface doesn't make sense to me. Can you explain?

[2019-09-27 13:48] cfsnyder commented on #43
I agree with the first two points made by @JoMas971. Don't worry about providing specific customization options for styles, instead just let the developer completely override the HTML template that is used for an individual node and let them style it however they like.

[2019-09-27 13:50] cfsnyder commented on #43
@ariquinones does `TreeNode.getLabel` just proxy `TreeNode.getData().label`?

[2019-09-27 14:03] JoMas971 commented on #43
@cfsnyder About the 'view more' button, i told him to do so because it is not a good idea to do infinite scrolling for this kind of component, because it's a hierarchical construction.
For instance, consider this use case (i'll be in a folder/file configuration) :

- All stuffs that i don't want for my daughter
    - Boys
    - Sickness
    - (1000 more items are listed here...)
- All stuffs that

[2019-09-27 14:44] ariquinones commented on #43
@JoMas971 thanks for the feedback! Yup you're right about the getIcon() method, I'll need to switch that to a getTemplate() method to let the developer give us a template for the entire node (text + icon). If nothing is provided I'll use the default non-icon template.
Ah okay, yes I'll update the color theme config to use classes like you suggest and we'll let the developer overwrite them how Cory

[2019-09-27 15:56] cfsnyder commented on #43
@ariquinones - I may be missing something but the assertion that "it would be impossible to detect what node the user is truly scrolling and wanting to load more children off" is hard for me to understand. From my perspective, the user is never scrolling a particular node.. they're always scrolling the entire tree view. If you know the height of individual nodes in the display and you know the num

[2019-09-27 15:58] cfsnyder commented on #43
@ariquinones - I don't see how the `limit` parameter is at all relevant there, you'll have to explain how exactly you're intending to use it?

[2019-09-27 16:15] JoMas971 commented on #43
@ariquinones i agree with @cfsnyder about the limit param. It shouldn't be there. It's already part of `PagingParams` interface. You can assume that if the user set a limit to -1, that means 'no-limit'. So maybe the '*' notation wasn't a good idea after all... Sorry about that.

@cfsnyder we wouldn't have multiple scrolls by nodes indeed, but what Ari has trying to say is that, when you open a nod

[2019-09-27 16:23] cfsnyder commented on #43
@JoMas971  - what you're saying does make sense to me but I'm not convinced that we need a "load more" vs. just letting them collapse the node with many children that is irrelevant to what they're looking for. I don't recall having seen a "load more" option in a tree view before, so that makes me think it probably isn't necessary.

Not sure that is what @ariquinones  was trying to convey, though?

[2019-09-27 16:43] JoMas971 commented on #43
I'll let @ariquinones defend himself about what he was trying to say then lol.

On my side, i've never saw a treeview system that implement a true infinite scrolling (i mean by that, loading nodes in chunks with some limits depending on where the scrollbar is) :-/
So i was thinking that it wasn't out there for a reason... :-)

The only implementation i've found of an "infinite scroll treeview" was

[2019-10-03 13:08] mathieupkf commented on #2
@JoMas971 - Here is the design for the search system.
https://projects.invisionapp.com/d/main#/console/12026582/357477130/preview

[2019-10-15 13:09] JoMas971 commented on #41
@mathieupkf it's ready for another review ! https://objective-booth-cd63b3.netlify.com/#/components/datagrid/client-side
Let me know if you still have some issues ;-).

[2019-10-21 09:22] JoMas971 commented on #41
@mathieupkf - Can you tell us if everything is good for you ? If it's the case, i'll let you add the "Design Validated" label and close the issue.

[2019-10-21 14:18] JoMas971 commented on #41
Everything look good. I'll close the issue then. Thanks @mathieupkf !

[2019-10-21 14:27] JoMas971 opened #51 "[NG] Add Schematics for full compatibility with angular-cli"

[2019-11-04 17:34] ariquinones opened #52 "[TREE-VIEW] Tree View Component Design Review"

[2019-11-04 17:35] ariquinones commented on #52
Link of design: https://5dc058ae264ddf679c60fd4d--awesome-albattani-7ab95f.netlify.com/#/components/treeview

[2019-11-05 11:50] JoMas971 commented on #52
@mathieupkf Can you take a look at the tree-view component @ariquinones have published please ? At this step, we expect only a design checking (there is still some issues, specially with the server side version).
Thanks.

[2019-11-05 13:57] mathieupkf commented on #52
Thanks @ariquinones - Here is my feedbacks:

- [ ] Let's use the white background version as default version. I don't see it rn. These 3 other variations are not important for now. I'd like to see all structures variations with the white version and the colored ones after. Like in my design.
- [ ] We should increase the icon click area. It's pretty difficult to click on the icon
- [ ] Icon colors

[2019-11-06 04:51] ariquinones commented on #52
@mathieupkf here's an updated link for the first round of updates:
https://5dc24fa2a7ed948024a855a5--awesome-albattani-7ab95f.netlify.com/#/components/treeview

When you say we should increase the icon click area, what exactly do you mean? How far should a user be able to click to expand?

Also could you somehow separate the parent vs child texts on your invision design? This way I can see the 20p

[2019-11-06 15:52] mathieupkf commented on #5
@JoMas971 - I've cleaned the design. You'll see that I simplified all cases. It's clearer now. I didn't really change the design, I just made some minor adjustments to have the right paddings, spacings... everywhere.
Let me know if you need anything else.
https://projects.invisionapp.com/d/main#/console/18730990/389837181/preview

[2019-11-06 16:02] mathieupkf commented on #52
@ariquinones Perfect! it looks good now.

[2019-11-06 18:48] JoMas971 commented on #5
@mathieupkf i've done the dropdown menu. You can check if everything is good at : https://5dc3151fc7c485c5cdea7d2f--john-ferui-demo.netlify.com/#/components/dropdown/home

[2019-11-07 15:50] JoMas971 commented on #5
@mathieupkf It's ready for another check https://5dc4392011a6a3e7807b265b--john-ferui-demo.netlify.com/

[2019-11-07 16:10] #5 closed

[2019-11-15 18:02] JoMas971 commented on #52
@mathieupkf can you do another review please ? There is the new link : https://5dceccb028d0ea3e37896ab6--awesome-albattani-7ab95f.netlify.com/#/components/treeview
Thanks.

[2019-11-15 18:52] mathieupkf commented on #52
@JoMas971 there are new elements to test since my last review?

[2019-11-15 18:56] JoMas971 commented on #52
@mathieupkf indeed. We added a new loader for infinite scrolling (check the server-side treeview).
Also, if you can test everything to see if we didn't break anything.

[2019-11-27 16:24] #8 closed

[2019-12-06 16:29] JoMas971 opened #59 "[DATAGRID] Make it possible to directly set the rowData directly without needing any timeout or asynchronous call"
## Describe the bug

When you try to set the `rowData` object directly through the onInit stage (without setting it through a promise or setTimeout, the sorting is broken. FiIters are working though.

## Expected behavior

We should be able to directly set the data synchronously if wanted.

## Versions

* Ferui: [e.g. 0.0.19]

[2019-12-06 16:33] JoMas971 opened #60 "[DATAGRID] Add the ability to export the grid to CSV, XLS and XLSX files."
## Summary

We should have a service API to export the current grid state (with all filters/sorting/columns order) into a CSV, XLS or XLSX files.

[2019-12-06 16:37] JoMas971 opened #61 "[DATAGRID] Resize the grid when resizing the window."
## Describe the bug

If you resize the window, the grid is not resized properly.

## Expected behavior

When the window is resized, the grid should adapt itself to fit the grid.

## Versions

* Ferui: [e.g. 0.0.19]

## Additional notes

But maybe it's not necessary to do it. This is a consuming operation and it can slow down the app if we add more observable to follow the window resize...

[2019-12-12 14:10] JoMas971 commented on #52
this issue has been fixed by #54.
I'm closing the issue.

[2019-12-12 14:10] #52 closed

[2019-12-17 16:11] #61 closed

[2019-12-17 16:16] JoMas971 opened #63 "[ICONS] add new icons for vbo"
## Summary

Add icons for VBO.

[2019-12-17 16:23] mathieupkf commented on #63
@JoMas971 - first try ;)
Can you tell me if some of them work well?
[VBO icons.zip](https://github.com/ilanddev/ferui/files/3974300/VBO.icons.zip)

[2019-12-17 18:31] #59 closed

[2019-12-17 18:37] JoMas971 opened #65 "[DROPDOWN] Make the dropdown works in Datagrid even if there is no space left"
Like discussed with @mathieupkf, in the Datagrid, we should display the dropdown-menu above the grid and close it when we start scrolling within the grid (not outside).

[2019-12-17 18:42] JoMas971 commented on #43
this issue has been fixed by #54 .
I'll close the issue.

[2019-12-17 18:42] #43 closed

[2019-12-18 08:14] #63 closed

[2019-12-20 21:19] #65 closed

[2020-01-06 17:18] JoMas971 opened #68 "[DATAGRID] The action menu disapear sometimes when hovering quickly."
Title says all.

<img width="1404" alt="ScreenShot 2020-01-06 at 18 17 53" src="https://user-images.githubusercontent.com/3911470/71835028-ea35e780-30b0-11ea-8729-daa816f101e1.png">
<img width="1465" alt="ScreenShot 2020-01-06 at 18 17 46" src="https://user-images.githubusercontent.com/3911470/71835029-ea35e780-30b0-11ea-9b8a-1ed6c48fc147.png">

[2020-01-20 16:59] ariquinones opened #69 "[Datagrid] items per page, error handling, infinite row model typeerror"
## Multiple issues when working with datagrid

_Items per page dropdown gives options up to 100 items per page, but when user chooses anything above 20 items per page datagrid does not work._

_When using 5 as the beginning default to items per page, datagrid shows 5 items, but dropdown states 10._

_No error handling on Server/Infinite model. When the possibility of an error occurring the datagri

[2020-01-20 17:25] JoMas971 commented on #69
Thank you for the list:
- The 4th point is already fixed on my side,
- The 1st and 2nd points are actually linked and i'm working on fixing those right now.
- But nice catch on your 3rd point, indeed, i haven't though about handling the error... I'll ask @mathieu what i should do in case where we have an error.

[2020-01-23 16:39] mathieupkf commented on #41
Hey Jon, I’m adding design feedbacks and improvements for the datagrid here.
InVision link : https://projects.invisionapp.com/d/main?origin=v7#/console/18730990/389837176/preview?scrollOffset=0

- Hovering style : there is one pixel space on the right side of the 3 dots icon background
- Hovering style : when the dropdown menu is open, we shouldn’t use this blue color for the background. This one

[2020-02-06 17:45] JoMas971 opened #71 "[NG] Add chart : Hell yeah !"
## Summary

We need to brainstorm about the best free solution to go with that fits our needs.
We need to be able to create multiple charts types.

## Minimum chart types

- Line charts
- Area charts
- Column and bar charts
- Pie charts

We can add data through a datasource that can be static (basic array of object loaded at first load) or dynamic (the point object are loaded asynchronously)

## E

[2020-02-11 12:03] #13 closed

[2020-03-03 16:25] ariquinones opened #73 "Fixed Height for Datagrid"
## Need fixed height for Datagrid

* We need a way to set the Datagrid height to a fixed height whether the items presented are less than the items per page

[2020-03-04 15:58] #73 closed

[2020-03-05 08:49] #69 closed

[2020-03-05 08:59] JoMas971 commented on #60
This issue is partially fixed. We need to handle the server-side export and also add the xls/xlsx export types.

[2020-03-05 09:00] JoMas971 commented on #68
This issue looks to be fixed now. I'll close this thread.

[2020-03-05 09:00] #68 closed

[2020-03-05 09:05] JoMas971 commented on #2
The Datagrid is partially done. Most of the features have been added but some are missing.
So i'll just re-open this issue to keep tracking it and add the missing ones.

[2020-03-12 13:06] JoMas971 opened #75 "[DATAGRID] When loading data using fixed height, there is a glitch that add more height than expected"
Title says all.

[2020-03-16 15:24] JoMas971 opened #77 "[DATAGRID] Glitches when we update datasource or refresh grid + Columns not getting auto-resized properly at first load"
## Height glitches.

If you set the [isLoading] to true after the first load, and that you want a fixed height for the datagrid, there is a glitch : The datagrid height is higher than it should. This is caused by the loader.

## Columns not auto-resized properly at first load.

Sometimes, when you load the datagrid, the columns are not auto-resized properly. That's happening if you have a slow com

[2020-03-16 15:25] JoMas971 commented on #75
Duplicated. See #77 for the fix.

[2020-03-16 15:25] #75 closed

[2020-03-20 09:54] mathieupkf commented on #41
@ariquinones - I've added here my datagrid comments. Let's discuss with @JoMas971 if they are part of FerUI.

- When you’re hovering a line on the 3 dots icon area, we have sometime a displaying bug with the icon. Sometimes it is not displayed, do you see it? - Yeah i see it now, this looks to be a ferui datagrid bug so we may need to open an issue there

- When we have few lines displayed, the bo

[2020-03-20 12:20] JoMas971 commented on #41
@mathieupkf and @ariquinones :
- For the first issue, yeah it is a datagrid issue indeed. I'll need to fix this out.
- About the line not showing, it is normal, that's because i have a rule that set the bottom line over each line and disable it for the last line. I'll do the same rule, but with top border and first row instead. That will fix this issue.
- About the color, if you don't see it on Fe

[2020-03-20 16:45] ariquinones opened #78 "[TREEVIEW] Tree view design fixes"
## Need to address some Tree View design issues

* When you’re collapsing a folder, the loader icon is not at the right height, it should be at the exact same height than the loaded content. Loader icon should be align to the folder icon at the right.

* The scroll area does not fit the height background area

[2020-03-24 13:06] JoMas971 opened #79 "[TREEVIEW] We can't use noRoot node server side."
When you try to use a noRoot model and try to load data trough datasource (server side infinite) it just fail.
The server-side treeview is not compatible with noRoot model which is a bug.

[2020-03-25 22:10] #77 closed

[2020-03-31 15:30] JoMas971 opened #82 "[TREEVIEW] Use an enum to list all possible Treeview events types"
For instance, when we want to handle NodeEvent, instead of using a number to track which event type we are getting it is better to use an enum like : `FuiTreeviewEvents.NODE_CLICKED` instead of knowing the number that correspond to this.

[2020-04-01 10:08] JoMas971 opened #83 "[TREEVIEW] Lets select the initial node without the need to set a timeout."
In current implementation of the treeview, when you initialize the Treeview, you need to use a setTimeout to select the node at initial loads :

[code]

We shouldn't need to use a timeout, instead your `selectNode()` method needs to handle it by itself and select the desired node (without the need to use a setTimeout internally though) once the viewport is loaded with all data (Maybe you can use D

[2020-04-01 20:59] ariquinones commented on #83
Hey Jon, your first statement I think may be misleading. You say the timeout is used to select the node since the node is the one not initialized. But the reason why the timeout was being used is because an *ngIf is being used directly on the tree-view tag so the timeout is to wait for the tree view component itself to be fully available otherwise the `this.treeview` would be undefined.
If the goa

[2020-04-01 21:04] ariquinones commented on #82
Didn't notice this was already done. I declare the enum just like all other FerUI enums
`export enum TreeViewEventType {
  NODE_CLICKED,
  NODE_EXPANDED,
  NODE_COLLAPSED
}`
Was just using it wrong on the usage of the tree view component.
Unless you want me to use the proper strings as their values?

[2020-04-02 09:43] JoMas971 commented on #82
Ok cool, that's a good news. But yeah, let convert it into string enums instead, it is more convenient for debugging to have string enums.

[2020-04-02 10:45] JoMas971 commented on #83
**Well, we shouldn't need to care about the Treeview being under an `*ngIf` or not, it shouldn't be an issue or a use case anyhow. It should behave correctly no matter what.**

I mean by that, that the node selection should be done through a callback bound to the component itself like we're doing for treeViewConfig and dataRetriever.
We let the developer specify a callback to do whatever he want (

[2020-04-02 15:58] ariquinones commented on #83
Okay thanks Jon! The callback makes a lot of sense.
I'm not sure why you think on the callback we would need to send the TreeView Config object, seems like its not needed. Instead what I pass in is the select method from the tree view itself so that when the developer sees the list of nodes they select their preferred one and just used the select method right there so no outside work is needed.
I

[2020-04-02 16:19] ariquinones commented on #78
@mathieupkf you had said the scroll area doesn't fit the height of the background area in this image:
![image](https://user-images.githubusercontent.com/16388180/78272603-f6242080-74ca-11ea-9127-8e6cf8c39265.png)

But so if we take out the padding of the height it would look like this: Is this what you want?
![Screen Shot 2020-04-02 at 10 18 57 AM](https://user-images.githubusercontent.com/1638818

[2020-04-02 16:40] #82 closed

[2020-04-02 17:04] JoMas971 commented on #83
- Yeah ok that make sense for the callback params, all good.

- For server-side treeview though let me explain using an example :
let say i have a nonRoot treeView with 3 nodes and each ones has 3 layers (they have children, grand-children, grand-grand-children).

[code]

[2020-04-02 17:09] mathieupkf commented on #78
@ariquinones - Yes this is what I want when we are scrolling but we need the top margin when we scroll to the top.

[2020-04-02 21:29] ariquinones opened #86 "[TREEVIEW] load multiple levels of tree view on first initialization"
## We need a way to load parent-child like nodes on initialization of Tree View

_ Currently we only show the highest parent level when Tree View gets loaded and we await for interaction of the user to load children of said parent._

* We need a way for the Tree View to show multiple levels down when initialized
* A way to save the state of the tree view - for when a user wishes to come back to th

[2020-04-02 21:30] ariquinones commented on #83
Okay Jon, I created the auto selector interface and will only show the first level of the node trees right now for the developer to select.
From what we discussed about opening multiple levels at once and saving the state of the tree view I opened this issue: https://github.com/ilanddev/ferui/issues/86

[2020-04-02 21:42] cfsnyder commented on #86
@ariquinones - can't you already do this by controlling the tree view from the outside? My two cents- maintaining state and applying state are better off left outside of the component.

[2020-04-02 22:27] ariquinones commented on #78
@mathieupkf ah okay gotcha!
Can you review this link with the updates: https://5e8666110256be85ebcfd993--awesome-albattani-7ab95f.netlify.com/#/components/treeview

The loader icon is the same height as the other tree nodes and the margin at the top only affects the first node while scrolling expands the whole height now

[2020-04-03 07:14] mathieupkf commented on #78
Looks much cleaner! thanks @ariquinones -
I see only one detail : on the Non Root Tree View version there is a movement on the text when you're collapsing a list.

[2020-04-03 10:11] JoMas971 commented on #86
@cfsnyder We can't actually select a child (grand-child or grand-grand-child or... etc) node at initialisation for server-side model yet, we are only loading the first layer and we load the children nodes only when the use expand a node that may have children. We can indeed control which node to expand and select programatically like you said, but only if the data is already fully loaded and known

[2020-04-03 13:49] ariquinones commented on #78
@mathieupkf yup i see it. Its fixed now here: https://5e873e4f4142b201935d6c2b--awesome-albattani-7ab95f.netlify.com/#/components/treeview

[2020-04-06 12:43] JoMas971 opened #87 "[DOC] Improve doc and demo page."
We drastically need a better doc for every components.

The minimum needs for every components is :
- Public API + explanations of every properties (@Input and @Output).
- If the component as multiple implementations, we need to show examples of every kind of implementations.
- We need useful examples.
- For heavy components (like Datagrid, Treeview... etc) we need to create toolboxes for examples

[2020-04-09 13:32] ariquinones commented on #78
@mathieupkf can I get a validation on that text movement fix?  https://5e873e4f4142b201935d6c2b--awesome-albattani-7ab95f.netlify.com/#/components/treeview the branch will have the movement text fix

[2020-04-09 13:43] mathieupkf commented on #78
@ariquinones - I see another issue ;(
When you unfold the tree, there is a transparent area at the bottom of the list which is useless. We can scroll much more than is necessary, do you see it?

[2020-04-09 17:33] ariquinones commented on #78
Argh sorry about that @mathieupkf !! Fixing the padding introduced that issue. Okay this link should have all the fixes now. We switched up the demo page just a little bit to Jon's liking, but this link has everything from this issue fixed: https://5e8f5bc7d927e5fb906894bb--awesome-albattani-7ab95f.netlify.com/#/components/treeview/client-side

[2020-04-10 06:40] mathieupkf commented on #78
Perfect! Thanks @ariquinones

[2020-04-10 16:07] JoMas971 commented on #78
I'll close this issue since it has been merged already.

[2020-04-10 16:07] #78 closed

[2020-04-10 16:08] JoMas971 commented on #83
This issue has been merged already. I'll close this ticket.

[2020-04-10 16:08] #83 closed

[2020-04-15 13:22] JoMas971 opened #90 "[NG] Implement a file upload component"
We need a component to handle file upload with ease.
We can upload one or multiple files at the time and we also need to find a way to handle huge files with start, pause, reset and resume the upload.

This is the design we have now, but it doesn't include everything yet :
<img width="939" alt="Screenshot 2020-04-15 at 15 19 42" src="https://user-images.githubusercontent.com/3911470/79341768-9434d

[2020-04-15 13:25] JoMas971 opened #91 "[NG] Implement a breadcrumb component"
We need a simple way to create breadcrumbs.

We need to be able to use a custom template for each part of the breadcrumb if we want and we also need to overflow the breadcrumb (and add an action dropdown) when the size of the dropdown if above the available width.

[2020-04-15 13:27] JoMas971 opened #92 "[TABS] Implement tabs overflow"
We need to add an overflow feature for the current tab component when the available width is not enough to display all tabs.
We need to add an action menu in this case.

[2020-04-15 13:30] JoMas971 opened #93 "[NG] Toggle input"
We need to add a toggle input. It will act exactly the same as checkbox but won't have the same design.

![Uploading Screenshot 2020-04-15 at 15.29.36.png…]()

[2020-04-15 13:48] JoMas971 opened #94 "[UI] Implement alerts"
We need to override bootstrap alerts to fit our design needs.

[2020-04-15 13:49] JoMas971 opened #95 "[UI] Implement Badges"
We need to override bootstrap badges to fit our design needs.

[2020-04-15 13:50] JoMas971 opened #96 "[UI] Implement buttons"
We need to override bootstrap buttons to fit our needs.

[2020-04-15 14:23] JoMas971 opened #97 "[UI] Implement simple design for table element."
We need to design the <table> HTML element to looks exactly the same than the Datagrid without all the features the Datagrid provide.

[2020-04-20 07:57] mathieupkf commented on #93
@JoMas971 can you edit the attachment file, I can't open it.

[2020-04-20 08:06] mathieupkf commented on #95
@JoMas971 - Not sure I got this one, what do you mean by Badges?

[2020-04-20 08:59] JoMas971 commented on #93
@mathieupkf i don't know what happens. I reupload it, it should be good now.

[2020-04-20 09:00] JoMas971 commented on #95
@mathieupkf I forgot to put the link of Bootstrap badges, there it is : https://getbootstrap.com/docs/4.4/components/badge/

[2020-04-20 16:00] JoMas971 opened #98 "[NG] Upgrade to Angular 8"
We need to create a special branch/version to support Angular 8 but still maintaining Angular 7.

[2020-04-20 16:02] JoMas971 opened #99 "[NG] Upgrade to Angular 9"
We need to create a special branch/version to support Angular 9 but still maintaining Angular 7 and 8.

[2020-04-20 16:54] JoMas971 commented on #31
After looking into E2E testing solutions, we've decided to use [cypress](https://www.cypress.io/) instead to create functional tests.

[2020-04-24 14:44] #87 closed

[2020-04-27 14:53] JoMas971 opened #102 "[TREEVIEW] We need an empty message and a way to track the treeview state"
By using the Treeview, i found out that there is some stuff that are missing :
- Empty message when there is no data coming back from `getPagedChildNodeData()` or `getChildNodeData()` methods. If it happens to be empty, we need to display a message.
- We need a way to track if a Treeview is not empty. But not only this information is relevant, we should have an observable to listen to track the Tr

[2020-04-28 12:54] JoMas971 opened #103 "[TREEVIEW] TreeNode width is not well calculated if we hide/show the treeview."
## What is the issue ?

I am getting an issue when using the Treeview. It looks like the width of `.fui-virtual-scroller-clipper-wrapper` is not well calculated. It is assigned 50px but in fact it should use 330px in my use case.
Look at the screenshots to see what i mean.

<img width="374" alt="Screenshot 2020-04-28 at 14 43 20" src="https://user-images.githubusercontent.com/3911470/80488823-3f97

[2020-04-28 13:51] ariquinones opened #104 "[DATAGRID] columns still not resizing properly"
## Datagrid Columns do not resize sometimes

_When going back and forth between using datagrids, sometimes the columns do not extend the full width of the datagrid._

## How To Reproduce

1.  Currently, if you go back and forth between using datagrids and you resize the browser window you will see the columns shrink and not expand back to their original size

![Screen Shot 2020-04-28 at 7 44 20 AM

[2020-04-28 14:06] JoMas971 commented on #104
@ariquinones  What do you mean by 'When going back and forth between using datagrids' exactly ?

[2020-04-29 10:13] #103 closed

[2020-04-29 22:17] ariquinones opened #106 "[DATAGRID] columnSeparator on CsvExports not used"
## When sending in a specific columnSeparator on a Datagrid's CsvExportParams the value is never used on the export

_Only type of export possible right now is a semi-colon ; separated values._

Looks like the column separator value is never taken into consideration when creating the export csv file. When the CsvCreator class createSerializingSession method gets called the params are never used an

[2020-04-30 14:49] ariquinones commented on #104
@JoMas971 I recorded how to reproduce. Its within this zip file. You'll see going back and forth between widget screens and playing with the window size is whats making the datagrids act weird.

[Screen Recording 2020-04-30 at 8.44.45 AM.mov.zip](https://github.com/ilanddev/ferui/files/4559027/Screen.Recording.2020-04-30.at.8.44.45.AM.mov.zip)

[2020-05-01 08:17] JoMas971 opened #107 "[UI] Override Bootstrap Spacing classes."
We need to change [Bootsrap Spacings](https://getbootstrap.com/docs/4.4/utilities/spacing/) to use our preferable values.

I think having : 5px, 10px, 15px, 20px, 25px will be good. But this need to be confirmed with @mathieupkf.

[2020-05-01 08:20] JoMas971 opened #108 "[WIDGET] Update paddings values"
The paddings in the header/footer of the widget should be 20px.
Also, the font size/weight of the Widget title is not right. We need to fix it as well. (refer to Mathieu's design)

@mathieupkf we will need the link to the new updated and validated design.

[2020-05-01 08:26] JoMas971 commented on #104
Ho i see what's causing the issue... It is dumb... When we resize the window, i'm calling "Resize columns to fit the grid"... So this is a "normal" behaviour because you columns are set to their minimum in order to fit the grid. I'll update this method to take the width of the datagrid into consideration.
Glad we figure this out, thanks !

[2020-05-01 09:20] mathieupkf commented on #108
This is what I have for the widget component.
Let me know if we need more design specifications.
https://invis.io/NBUHP4UVUXQ#/415989133_Widgets

[2020-05-01 09:42] JoMas971 commented on #108
@mathieupkf Thanks !
I have some questions for you though :
- It is possible to not have a border between the header and content ?
- What about a possible footer section ? We need to have the design for it.

[2020-05-01 12:27] mathieupkf commented on #108
@JoMas971

- Yes, when we have only one element (one table) on the widget https://invis.io/FWMX6LFMJ7Y#/414303010_VM_Microsegmentation_01
- I don't see the point of providing a footer. Do you have specific cases in mind?

[2020-05-04 08:47] JoMas971 commented on #108
@mathieupkf It's just that those components are generic. We already have a footer for those components if we need it. So i'll just keep what we have.

[2020-05-04 15:26] JoMas971 opened #109 "[DATAGRID] Save Datagrid configurations within the user browser for later usage."
We need to store the datagrid configuration in the user browser.

For instance, if the user change a column width, a column visibility, a column order, the pager item per page option,  in memory so that he doesn't need to do it again each time he loads the datagrid.

[2020-05-05 16:09] JoMas971 opened #110 "[TREEVIEW] Make no-border Treeview rows adapt their width depending on their container."
When resizing the window, if the container is larger than the largest row, we have some white spaces. We should use the whole available width all the time. See screenshot.

<img width="2640" alt="Screenshot 2020-05-05 at 17 51 55" src="https://user-images.githubusercontent.com/3911470/81088634-83f49080-8efb-11ea-88f2-990b6ac49e01.png">

[2020-05-05 18:36] ariquinones commented on #106
@JoMas971 I went ahead and PRed this issue for not using the column separator property for exports. But I also noticed that we don't seem to use other properties of the export params either (customHeader, customFooter, skipFooters). Is there a reason why?

[2020-05-05 19:22] JoMas971 commented on #106
@ariquinones Yeah i saw that, thank you by the way. About the other properties, i was planing to implement them but I didn't have the time to finish it totally. But i will take care of it at some point.

[2020-05-06 17:26] #106 closed

[2020-05-06 17:26] #79 closed

[2020-05-22 12:32] #108 closed

[2020-05-28 14:22] #104 closed

[2020-05-28 14:23] #107 closed

[2020-06-11 15:57] ariquinones opened #117 "[UI] Toast Notification Component"
## Create a Toast Notification Component

_We need to create a generic Toast notification along with a notification service that will handle its control._

- FuiToastNotification and FuiToastNotificationService

[2020-06-15 13:28] mathieupkf commented on #117
@ariquinones @JoMas971 - Here is the design for the Toast Component.
https://invis.io/94XP1I12U7T

@JoMas971 - Do you remember the properties we've setup? (for the automatic close delay and the scale effect).

[2020-06-15 13:56] JoMas971 commented on #117
@mathieupkf Thanks for the design. And yeah i have the properties :
- SlideIn duration = 800ms (the duration for the animation when the toast is display on screen)
- SlideOut duration = 400ms (the duration for the animation when the toast is removed)
- Auto SlideOut Delay = 10s (the duration of the toast on screen. The timer is stoped when user hover the toast with his mouse cursor and restart onc

[2020-06-15 15:07] mathieupkf commented on #117
Perfect, thanks @JoMas971 !

[2020-06-17 20:24] #41 closed

[2020-06-22 17:29] ariquinones commented on #117
@mathieupkf thanks for the designs!
Working on this now and some questions came up. So since we're adding this to FerUI should we not give the dev/user more granular control? Meaning I think we should have the defaults animation durations, but should we not allow the dev/user to change these if they want to? So they can adjust to their needs?
I've seen this example that looks pretty good while giv

[2020-06-23 09:55] JoMas971 commented on #117
@ariquinones By the way, we've moved to Jira + Bitbucket now. So please use Jira for ticket questions and bitbucket as repository.

[2020-06-23 10:34] #117 closed